 /* logo */

.logo-principal {
    width: 160px;
    height: 160px;
}

 /* Saco animaciones de los enlaces */

a {
    text-decoration: none;
}

 /* Posicionamiento y animaciones del Header */
 
 .header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #e2d5d5;
    color: #272727;
}

.logo-container {
    padding: 0;
}

.logo {
    width: 150px;
    height: auto;
}

.titulo-principal {
    margin: 0;
    font-size: 3em;
}

.nav-menu-container {
    display: flex;
    align-items: center;
}

.navbar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.navbar li {
    margin-left: 15px;
}

.menu-btn {
    display: none; /* Ocultar el botón del menú en dispositivos grandes */
    cursor: pointer;
    font-size: 24px;
    color: #662121;
}

/* Estilos para dispositivos móviles */

@media screen and (max-width: 768px) {
    .titulo-principal {
        font-size: 1.2em;
    }
    .nav-menu-container {
        display: none; /* Ocultar el menú por defecto en dispositivos móviles */
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        background-color: #333;
        padding: 20px;
    }
    .nav-menu-container.active {
        display: flex; /* Mostrar el menú cuando está activo */
        flex-direction: column;
    }
    .navbar li {
        margin: 10px 0;
    }
    .menu-btn {
        display: block; /* Mostrar el botón del menú en dispositivos móviles */
    }
}


/* Fin Animations Header */

/* Inicio Sección Slider */

.slider-container {
    position: relative;
}

.carousel {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 800px;
}

.carousel-inner {
    display: flex;
    transition: transform 0.5s ease;
}

.carousel-item {
    width: 100%;
    height: 800px;
}

.slider-title {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1; /* Asegura que el título esté sobre las imágenes */
    color: #292222;
}

.prev-btn, .next-btn {
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 18px;
    cursor: pointer;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.prev-btn {
    left: 10px;
}

.next-btn {
    right: 10px;
}


 /* Fin Slider */

/* Sección Nuestros productos mas vendidos */

.productos-container {
    display: flex;
    flex-direction: column; /* Asegura que los productos estén en columnas */
}

.productos-row {
    display: flex;
    justify-content: center; /* Centra los productos horizontalmente */
}

.producto {
    width: 300px; /* Ancho de cada producto */
    height: 300px; /* Altura fija de cada producto */
    margin: 10px; /* Espacio entre productos */
    position: relative;
    overflow: hidden; /* Evita que las imágenes se salgan del contenedor */
    transition: transform 0.3s ease; /* Animación al pasar el mouse */
}

.producto:hover {
    transform: scale(1.1); /* Aumenta el tamaño al pasar el mouse */
}

.producto-imagen {
    width: 100%; /* Ajusta el tamaño de la imagen */
    height: 100%; /* Ajusta la altura de la imagen */
    object-fit: cover; /* Ajusta la imagen dentro del contenedor */
}

.producto-descripcion {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Fondo semitransparente */
    color: rgb(255, 255, 255);
    padding: 10px;
    margin: 0;
    opacity: 0;
    transition: opacity 0.3s ease;
}

.producto:hover .producto-descripcion {
    opacity: 1; /* Muestra la descripción al pasar el mouse */
}


/* Fin Sección mas vendidos */
 
/* Sección Footer */

.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f0f0f0;
    padding: 20px;
}

.footer-logo img {
    width: 50px; /* Tamaño de el logo */
}

.footer-info h4 {
    margin: 0;
}

.footer-social a {
    margin-left: 10px;
}

.footer-social a svg {
    width: 32px; /* Tamaño de los iconos */
    fill: #333; /* Color de los iconos */
}

.footer-social a:hover svg {
    fill: #336fac; /* Cambio de color al pasar el mouse */
}
  /* Fin Footer */ 

  /* Inicio Formulario */

/* Para centrar el formulario en la sección */
.registro-section {
    text-align: center;
    padding: 20px; /* Agrega un espacio alrededor del formulario */
}

.registro-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

/* Estilos y posicionamiento para el formulario */

.registro-form {
    width: 80%; /* Ancho del formulario */
    max-width: 500px; /* Ancho máximo del formulario */
}

.form-group {
    margin-bottom: 20px; /* Espacio entre los elementos del formulario */
}

/* Estilos para el botón */
.btn-enviar {
    padding: 10px 20px; /* Tamaño del botón */
}

/* Estilos para el mensaje */

.mensaje {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    z-index: 1000;
}

.mensaje p {
    font-size: small;
    margin-bottom: 10px;
}

.mensaje button {
    padding: 10px 20px;
}

.mensaje-oculto p {
    font-size: larger;
}

 /* Inicio sección productos, animación y posicionamiento */

 .producto {
    display: inline-block;
    width: 200px;
    height: 200px;
    margin: 10px;
    position: relative;
    overflow: hidden;
    cursor: pointer;
}

.producto img {
    width: 100%;
    height: auto;
    transition: transform 0.3s ease;
}

.producto:hover img {
    transform: scale(1.1);
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: opacity 0.3s ease;
}

.producto:hover .overlay {
    opacity: 1;
}

