// _formulario.scss

.registro-section {
    text-align: center;
    padding: 20px;
}

.registro-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.registro-form {
    width: 80%;
    max-width: 500px;
}

.form-group {
    margin-bottom: 20px;
}



.mensaje {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    z-index: 1000;
}

.mensaje p {
    font-size: small;
    margin-bottom: 10px;
}

.mensaje button {
    width: 10px;
    height: 20px;
}

.mensaje-oculto p {
    font-size: larger;
}
