/* _header.scss */

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #e2d5d5;
    color: #333;
    flex-wrap: wrap;

    .logo-container {
        padding: 0;

        .logo {
            width: 150px;
            height: auto;
        }
    }

    .titulo-principal {
        font-family: verdana;
        margin: 0;
        font-size: 24px;
    }

    .nav-menu-container {
        flex: 1;
        display: flex;
        align-items: center;

        .navbar {
            font-family: sans-serif;
            list-style-type: none;
            margin: 0;
            padding: 0;
            display: flex;
        }

        .navbar li {
            margin-left: 15px;
        }
    }

    .menu-btn {
        display: none;
        cursor: pointer;
        font-size: 24px;
        color: #cc1a1a;
    }

    @media screen and (max-width: 768px) {
        .titulo-principal {
            font-size: 24px;
        }

        .nav-menu-container {
            display: none;
            position: absolute;
            top: 100%;
            left: 0;
            width: 100%;
            background-color: #333;
            padding: 20px;

            &.active {
                display: flex;
                flex-direction: column;

                .navbar li {
                    margin: 10px 0;
                }
            }
        }

        .menu-btn {
            display: block;
        }
    }
}
