// _variables.scss

// Colores
$color-primario: #662121;
$color-secundario: #336fac;
$color-fondo: #f0f0f0;
$color-texto: #272727;
$color-texto-hover: #292222;

// Tamaños
$tamano-logo: 160px;
$tamano-boton: 10px 20px;
$tamano-icono: 32px;
$tamano-logo-footer: 50px;
$tamano-titulo: 1.2em;
$tamano-titulo-principal: 3em;
$tamano-imagen: 300px;
$tamano-descripcion: 100%;
